################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lab1/lab1/x64/Debug/lab1.tlog/CL.write.1.tlog
